# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.exe
!/src/learn/protoc.exe
!/src/irene/common/protoc.exe
*.ilk
*.tlog
*.obj
*.sdf
*.idb
*.pdb
*.lib
*.aps
!/3rdparty/boost_lib/*.lib
!/3rdparty/protobuf_lib/*.lib
!/3rdparty/libcurl_lib/*.lib

Debug
!/3rdparty/boost/preprocessor/debug/
!/3rdparty/boost/bimap/detail/debug/
!/3rdparty/boost/spirit/home/classic/debug/
Release
/sln/UpgradeLog.XML
/sln/UpgradeLog.htm
/sln/_UpgradeReport_Files
/src/test_basic/test.html
/src/test_basic/test.xml
/3rdparty/cpptest_ext/*.user
/src/test_basic/testfile.dat
/src/test_basic/zpublic.log
/src/test_basic/test.zip
*.ipch
/src/test_pellets/test_pellets.xml

/src/learn/ptree.info

/src/learn/ptree.ini

/src/learn/ptree.json

/src/learn/ptree.xml
/src/learn/test_proto.pb.h
/src/learn/test_proto.pb.cc
/src/learn/libcurl_test.gif

/src/learn/data.io
/src/irene/common/protocol
/src/irene/bin
