# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.exe
*.ilk
*.tlog
*.obj
*.sdf
*.idb
*.pdb
*.lib

Debug
Release
/trunk/sln/UpgradeLog.XML
/trunk/sln/UpgradeLog.htm
/trunk/sln/_UpgradeReport_Files
/trunk/src/test_basic/test.html
/trunk/src/test_basic/test.xml
/trunk/3rdparty/cpptest_ext/*.user
/trunk/src/test_basic/testfile.dat
